.statistics{
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    background-color: #fff;
    width: 300px;
    border-radius: 5px;
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        
    }
}

.stat_list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}